
h1 {
    text-align: ;
    font-size: 2rem;
    color: rgb(201, 18, 183);
    font-weight: 700;
}

#wrapper {
    width: 60vw;
    height: 75vh;
    padding: 1rem;
    border: 10px solid rgb(245, 9, 201);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
    justify-content: flex-start;
}

.block {
    width: 30px;
    height: 25px;
    border: 1px solid rgb(242, 7, 218);
    margin: 15px;
    padding-top: 8px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(147, 10, 147);
}

